@mixin siteBtn() {
    padding: 15px 31px;
    color: #FEFCF7;
    font-family: 'Fraunces 9pt';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    border-radius: 6px;
    background: #0E8784;

    &:hover {
        border-radius: 6px;
        background: #66D2CF;
        transition: all 1s ease;
    }

    &:active {
        background: #E2DEDB;
        transition: all 1s ease;
    }
}