@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap");
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 43px 0;
  max-width: 100%;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 0 33px;
}
.header-link {
  color: #83888F;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.header-link:active {
  color: #333D4B;
}
.header-menu-btn {
  display: none;
}
.header-menu {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header-list {
    gap: 0 20px;
  }
}
@media only screen and (max-width: 550px) {
  .header-logo {
    width: 163px;
    height: 18px;
  }
  .header-list {
    display: none;
  }
  .header-menu-btn {
    display: inline-block;
  }
}
.hero-box {
  max-width: 100%;
  background-image: url("../assets/img/hero-img-ab-us.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 137px 0 85px 137px;
  border-radius: 10px;
  background-color: #A2A2A2;
  margin-bottom: 168px;
}
.hero h1 {
  color: #FEFCF7;
  font-family: "Fraunces 9pt";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 24px;
}
.hero p {
  width: 445px;
  color: #FEFCF7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media only screen and (max-width: 689px) {
  .hero-box {
    padding: 104px 0 104px 58px;
  }
  .hero p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 550px) {
  .hero-box {
    padding: 100px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/hero-mob-bg.png);
    background-size: cover;
  }
  .hero h1 {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
  }
  .hero p {
    width: 100%;
    text-align: center;
  }
}
.our-com-box {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 152px;
}
.our-com img {
  border-radius: 8px;
  background-color: #0E8784;
}
.our-com-mob-img {
  display: none;
}
.our-com-text {
  width: 540px;
}
.our-com-text h2 {
  color: #333D4B;
  font-family: "Fraunces 9pt";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 32px;
}
.our-com-text p {
  color: #333D4B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media only screen and (max-width: 880px) {
  .our-com-img {
    display: none;
  }
  .our-com-mob-img {
    display: inline-block;
    width: 327px;
    height: 470px;
  }
  .our-com-text {
    width: 340px;
  }
  .our-com-text h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .our-com-text p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 680px) {
  .our-com-box {
    flex-direction: column;
  }
  .our-com-mob-img {
    max-width: 100%;
    height: 400px;
  }
  .our-com-text {
    text-align: center;
  }
  .our-com-text h1 {
    max-width: 100%;
  }
  .our-com-text p {
    max-width: 100%;
  }
}
.uncom-box {
  max-width: 100%;
  width: 1240px;
  height: 474px;
  border-radius: 10px;
  background: #2C343E;
  padding: 88px 0 122px 85px;
  position: relative;
  margin-bottom: 168px;
}
.uncom-text {
  display: flex;
  width: 540px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.uncom-text h2 {
  color: #FEFCF7;
  font-family: "Fraunces 9pt";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
.uncom-text p {
  color: #FEFCF7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.uncom img {
  position: absolute;
  right: 84px;
  bottom: 92px;
  border-radius: 8px;
  background-color: #0E8784;
}/*# sourceMappingURL=main.css.map */