.footer {
    &-box {
        max-width: 100%;
        padding: 47px 85px;
        background: #2C343E;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    &-links {
        width: 622px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 550) {
    .footer {
        &-list {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 550) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &-links {
            justify-content: center;
        }

        &-list {
            align-items: center;
            justify-content: center;
        }

        &-link {
            margin: 0 auto;
        }
    }
}