.footer {
    text-align: center;
    &-box {
        max-width: 100%;
        padding: 47px 85px;
        background: #2C343E;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        a {
            color: #83888F;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0.923px;
            text-transform: uppercase;
        }
    }

    &-links {
        width: 622px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 550px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &-links {
            justify-content: center;
        }

        &-list {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 30px;
        }

        &-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        &-link {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 375px) {
    .footer{
        &-box {
            background: #2C343E;
            text-align: center;
        }

        &-links {
            flex-direction: column;
            img {
                width: 218px;
                height: 24px;
                margin-bottom: 10px;    
            }
        }

        &-list {
            flex-direction: column;
        }

        &-F-T-I {
            margin: 0 auto;
        }
    }
}