.header {
    padding: 43px 0;
    max-width: 100%;


    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 0 33px;
    }

    &-link {
        color: #83888F;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0.923px;
        text-transform: uppercase;

        &:active {
            color: #333D4B;
        }
    }

    &-menu-btn {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .header {
        &-list {
            gap: 0 20px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .header {
        &-logo {
            width: 163px;
            height: 18px;
        }

        &-list {
            display: none;
        }

        &-menu-btn {
            display: inline-block;
        }
    }
}