.list-1 {
    padding-top: 136px;
    margin-bottom: 200px;
    background-image: url("../../assets/svg/our-collection.svg");
    background-size: contain;
    background-repeat: no-repeat;

    &-box {
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    h2 {
        color: #83888F;
        font-family: 'Fraunces 9pt';
        font-size: 150px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        position: absolute;
        z-index: -9;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        gap: 0 30px;
        margin-top: 40px;
    }

    &-item {
        img {
            margin-bottom: 72px;
        }

        h5 {
            color: #333D4B;
            font-family: 'Fraunces 9pt';
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            width: 255px;
            color: #333D4B;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }
}

@media only screen and (max-width: 868px) {
    .list-1 {
        h2 {
            font-size: 100px;
        }

        ul {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 689px) {
    .list-1 {
        padding-top: 144px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-item {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 578px) {
    .list-1 {
        h2 {
            font-size: 50px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .list-1 {
        h5 {
            text-align: center;
        }

        p {
            text-align: center;
            
        }
    }
}