.list-1 {
    margin-bottom: 200px;

    &-box {
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    h2 {
        color: #83888F;
        font-family: 'Fraunces 9pt';
        font-size: 150px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        position: absolute;
        z-index: -9;
    }

    .box-list-1 {
        width: 1111px;
        height: 196px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.00) 0%, #FEFCF7 100%);
        position: absolute;
        z-index: -7;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        gap: 0 30px;
        margin-top: 40px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        img {
            margin-bottom: 72px;
        }

        h5 {
            color: #333D4B;
            font-family: 'Fraunces 9pt';
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            width: 255px;
            color: #333D4B;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }
}

@media only screen and (max-width: 868px) {
    .list-1 {
        h2 {
            font-size: 100px;
        }

        ul {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 578px) {
    .list-1 {
        h2 {
            font-size: 50px;
        }
    }
}